{% extends 'layout.twig' %}

{% block content %}
    <table>
    {% for val in list %}
        <tr>
            <td>{{ val.c_id }}</td>
            <td>{{ val.c_cateid }}</td>
            <td><a href="./?do=detail&id={{ val.c_id }}">{{ val.c_title }}</a></td>
            <td>{{ val.c_userid }}</td>
            <td>{{ val.c_user }}</td>
            <td>{{ val.c_posttime }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="pjax-box">
        <ul id="page">
        {% autoescape false %}
            {{ pages }}
        {% endautoescape %}
        </ul>
    </div>
{% endblock %}
